# Rust / Cargo
/target
Cargo.lock

# Windows / IDEs
.vs/
.vscode/
*.user
*.suo
*.sln
*.pdb

# Local Logs & Errors
*.log
*.txt
stderr.txt
stdout.txt

# Binaries & Shared Files
*.exe
*.manifest
VoraRecon-Setup.exe
!target/release/bundle/

# Local Environment
.env
.DS_Store
